body {
    width: 100%;
    height: 600px;
}

p {
    
    width: 100%;
    height: 56.6%;
    margin-top: -1em;
    z-index: 3;
    background-color: #000;
    color: #fff;
    padding: 2px;
}

div {
    width: 50%;
    height: 50%;
    background-color: #ccc;
}
