body {
    width: 600px;
    height: 575px;
    font-family: monospace;
    margin-top: 60px;
    margin-left: 30%;
    background-color: rgb(0, 0, 0);
    border: 1px solid #ffffff;
    
}

p {
    width: 100%;
    height: 298px;
    background-color: #000;
    color: #ffffff;
    border: 0px solid #2b00ff;
    padding-left: 2px;
    padding-top: 0px;
}

div {
    width: 100%;
    height: 520px;
    background-color: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 20px;
    height: 25px;
}

/* creates three unequal columns that float next to each other */
.column {
    float: left;
    height: 600px;
}

/* left and right column */
.column.left {
    width: 30%;
    height: 100%;
}

.column.right {
    width: 70%;
    height: 100%;
    background-color:#fff;
}

/* clears floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 20px;
    height: 25px;
}

/* responsive layout: makes three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {

    .column.side,
    .column.middle {
        width: 100%;
    }
}

/* link customization */
a:link {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(34, 0, 255);
  background-color: transparent;
  text-decoration: none;
}

a:hover, a:active {
  color: rgb(0, 255, 255);
  background-color: transparent;
  text-decoration: none;
}